{% extends "base.html" %}

{% block content %}
  



<input size="16" type="text" value="2012-06-15 14:45" class="form_datetime">
 

    <h1>jeee</h1>
  </div>
 <form>
  Birthday (date and time):
  <input type="datetime-local" name="bdaytime">
</form>


<div class="alert alert-success">
  {{error}}
</div>
  <div class="alert alert-success">
  {{message}}
</div>

<input size="16" type="text" value="2012-06-15 14:45" readonly class="form_datetime">
 
   


  <p>
    <a href="http://tsoha.github.io" class="btn btn-primary btn-lg">Tutustu materiaaliin <span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>
{% endblock %}
