
{% extends "base.html" %}
{% block content %}
  <h1> Kotilääkäriaseman asiakkaat</h1>

  <p>
    <a href="#" class="btn btn-success">Lisää asiakas</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Asiakasnumero</th>
        <th>Etunimi</th>
        <th>Sukunimi</th>
        <th>Osoite</th>
        <th>Puhelinnumero</th>
        <th>Sähköposti</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      <tr>
        <td><a href="#">Asiakasnumero</a></td>
        <td>Atte</td>
        <td>Asiakas</td>
        <td>alkotie</td>
        <td>050123456</td>
        <td>p@p.org</td>
        <td><label class="label label-danger">kesken</label></td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}