{% import "macros/forms.html" as forms %}
 {%extends "base.html" %}
{% block content %}
  <h1>Muokkaa asiakasta</h1>
  
 {% if errors %}
  <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
 
    {{message}}
  <form method="post" action="{{base_path}}/asiakas/edit/{{attributes.a_id}}">
      <div class="alert alert-success">
        {{error}}
       </div>
      
          <div class="form-group">
      <label>Asiakasnumero: </label>
      {{attributes.a_id}}
    </div>
      <label>Etunimi</label>
      <input name="a_etunimi" class="form-control" value="{{attributes.a_etunimi}}" type="text">
    </div>
    <div class="form-group">
      <label>Sukunimi</label>
      <input name="a_sukunimi" class="form-control" value="{{attributes.a_sukunimi}}" type="text">
    </div>
    <div class="form-group">
      <label>Osoite</label>
      <input name="a_osoite" class="form-control" value="{{attributes.a_osoite}}" type="text">
    </div>
    <div class="form-group">
      <label>Puhelinnumero</label>
      <input name="a_puhelinnumero" class="form-control" value="{{attributes.a_puhelinnumero}}" type="text">
    </div>
    <div class="form-group">
      <label>Sähköposti</label>
      <input name="a_sahkoposti" class="form-control" value="{{attributes.a_sahkoposti}}" type="text">
    </div>
    <button type="submit" class="btn btn-primary">Muokkaa</button>
  </form>
<!--
   /* 
    <form 
        method="post" action="{{base_bath}}/kotilaakari/asiakas/{{attributes.a_id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
</form>
 -->
<!--    
    
 <form method="post" action="{{base_path}}/asiakas/edit/{{attributes.a_id}}" style="display: inline-block;">
  <button type="submit" class="btn btn-primary">Muokkaa</button>
</form>   
    -->
 <!-- 
    <div class="form-group">
      <button type="submit" name = "action" value="muokkaa" class="btn btn-primary">Muokkaa</button >
   -->
  <p>
   {{forms.destroy_button("#{base_path}/asiakas/#{attributes.a_id}/destroy")}}
</p> 
   
   <!--
   <form method="post" action="{{base_path}}/asiakas/{{attributes.a_id}}/destroy">
   
       <button type="submit" class="btn btn-primary">Poista</button >
    
    
  </form>
  -->

    
    
    {% endblock %}