
{% extends "base.html" %}
{% block content %}
  <h1>Kotilääkäriyrityksen asiakkaat</h1>
 <!--  {% if laakari_logged_in%}-->
  <h1>Lääkärin asiakkaat</h1>
  <h1>Lääkärin {{user_logged_in.l_etunimi}} asiakkaat</h1>
 <!-- {%endif%} -->
 
  <div class="alert alert-success">
  {{message}}
</div>
  <p>
    <a href="{{base_path}}/asiakas/new" class="btn btn-success">Lisää asiakas</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Asiakasnumero</th>
        <th>Etunimi</th>
        <th>Sukunimi</th>
        <th>Osoite</th>
        <th>Puhelinnumero</th>
        <th>Sähköposti</th>
        <!-- <th>Status</th>
        -->
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for asiakas in asiakkaat %}
 
     <tr>
            <td><a href="{{base_path}}/asiakas/{{asiakas.a_id}}">{{asiakas.a_id}}</td>
          <td>{{asiakas.a_etunimi}}</td>
          <td>{{asiakas.a_sukunimi}}</td>
          <td>{{asiakas.a_osoite}}</td>
          <td>{{asiakas.a_puhelinnumero}}</td>
          <td>{{asiakas.a_sahkoposti}}</td>
          
  <!--      <td><a class="btn btn-primary btn-sm" href="{{base_path}}/kotilalaakari/asiakas/{{asiakas.a_id}}/edit">Muokkaa</a></td>-->
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
