{% extends "base.html" %}
{% block content %}
  <h1>Kirjaudu sisään</h1>
  <div class="alert alert-success">
  {{error}}
</div>
  <div class="alert alert-success">
  {{message}}
</div>
  <form method="post" action="{{base_path}}/asiakas/login">
    <div class="form-group">
      <label>Asiakasnumero</label>
      <input class="form-control" name="a_id" value="{{a_id}}" type="text">
    </div>

    <div class="form-group">
      <label>Salasana</label>
      <input class="form-control" name="a_salasana" type="password">
    </div>

    <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
  </form>
{% endblock %}
