
{% import "macros/forms.html" as forms %}
{% extends "base.html" %}
{% block content %}


<h1>Asiakkaan {{asiakas_logged_in.a_etunimi}} käynnit ja varaukset</h1>
<div class="alert alert-success">
    {{message}} 
</div>
<!-- Painikkeet tähän -->

<!--<p> -->
<!-- {{forms.destroy_button()}}    -->

<!--
<form method="post" action="{{base_bath}}/kotilaakari/asiakas/{{asiakas.a_id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
</form>

-->
<!--
<form method="post" action="{{base_bath}}/kotilaakari/asiakas/edit/{    {asiakas.a_id}}" style="display: inline-block;">
    <button type="submit" class="btn btn-primary">Muokkaa</button>
</form>
-->
<form action="{{base_bath}}/kotilaakari/asiakas/tilaus" style="display: inline-block;">
    <button class="btn btn-primary">Tilaa lääkäri</button>
</form>
<form action="{{base_bath}}/kotilaakari/asiakas/edit/{{asiakas.a_id}}" style="display: inline-block;">
    <button class="btn btn-danger">Muokkaa asiakasta</button>
</form>

<!--  <a href="#" class="btn btn-default">Muokkaa</a>
-->
<!--/<p> -->
<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>Asiakasnumero:</strong> {{asiakas.a_id}}</li>
    <li><strong>Etunimi:</strong> {{asiakas.a_etunimi}}</li>
    <li><strong>Sukunimi:</strong>{{asiakas.a_sukunimi}}</li>
    <li><strong>Osoite:</strong>{{asiakas.a_osoite}}</li>
    <li><strong>Puhelin::</strong> {{asiakas.a_puhelinnumero}}</li>
    <li><strong>Sähköposti:</strong> {{asiakas.a_sahkoposti}}</li>
</ul>
  
<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Käyntinumero</th>
        <th>Käynti alkaa</th>
        <th>Käynti loppuu</th>
        <th>Lääkärin etunimi</th>
        <th>Lääkärin sukunimi</th>
        <th>Puhelinnumero</th>
        <th>Sähköposti</th>
      </tr>
    </thead>
    
    <tbody>
      {% for kaynti in ohjelma %}
 
     <tr>
            <td><a href="{{base_path}}/kaynti/{{kaynti.k_id}}">{{kaynti.k_id}}</td>
          <td>{{kaynti.k_alku}}</td>
          <td>{{kaynti.k_loppu}}</td>
          <td>{{kaynti.l_etunimi}}</td>
          <td>{{kaynti.l_sukunimi}}</td>
          <td>{{kaynti.l_puhelinnumero}}</td>
          <td>{{kaynti.l_sahkoposti}}</td>
               <td><a class="btn btn-default btn" href="{{base_path}}/kaynti/muokkaus/{{kaynti.k_id}}">Muokkaa tilausta</a></td>
  <!--      <td><a class="btn btn-primary btn-sm" href="{{base_path}}/kotilalaakari/asiakas/{{asiakas.a_id}}/edit">Muokkaa</a></td>-->
        </tr>
      {% endfor %}
    </tbody>
  </table>


<p>
</p>
{% endblock %}