{% extends "base.html" %}

{% block content %}
  



<input size="16" type="text" value="2012-06-15 14:45" class="form_datetime">
 

    <h1>Lääkärin tilaus:</h1>
  </div>
 <form>
  Tilaus (päivämäärä ja aika):
 <input size="16" type="text" value="2012-06-15 14:45" class="form_datetime">
</form>
 <form>
<div class="form-group">
  <label></label>
  <select class="form-control" name="laakari">
    {% for category in categories %}
      <option value="{{category.id}}">{{category.name}}</option>
    {% endfor %}
  </select>
</div>
 
 </form>
  
  


<div class="alert alert-success">
  {{error}}
</div>
  <div class="alert alert-success">
  {{message}}
</div>

<input size="16" type="text" value="2012-06-15 14:45" readonly class="form_datetime">
 
   


  <p>
    <a href="http://tsoha.github.io" class="btn btn-primary btn-lg">Tutustu materiaaliin <span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>
{% endblock %}
