{% extends "base.html" %}
{% block content %}
<h1>{{message}} </h1>
<div class="inner cover">
<form action="{{base_bath}}/kotilaakari/asiakas/new" style="display: inline-block;">
    <button class="btn btn-primary">Reksiteröidy</button>
</form>
<form action="{{base_bath}}/kotilaakari/asiakas/login" style="display: inline-block;">
    <button class="btn btn-primary">Asiakas kirjaudu </button>
</form>
<form action="{{base_bath}}/kotilaakari/laakari/login" style="display: inline-block;">
    <button class="btn btn-primary">Lääkäri kirjaudu </button>
</form>

</div>


{% endblock %}