{% extends "base.html" %}
{% block content %}

<div class="inner cover">

    {% if message %}
    <div class="alert alert-success" style="text-shadow: none">
        {{message}}
    </div>
    {% endif %}

    <h1 class="cover-heading">LATLeffaLaari</h1>
    <p class="lead" id="etusivuteksti">LATLeffaLaari on paikka sinulle, joka tykkäät Latinalaisen Amerikan elokuvista. 
        Täältä löydät uusia katsottavia elokuvia, sekä voit pitää listaa suosikkielokuvistasi.</p>
    {% if user_logged_in %}
    <p class="lead">
        <a href="{{base_path}}/mypage" class="btn btn-lg btn-default">Omalle sivulle</a>
    </p>
    {% else %}
    <p class="lead">
        <a href="{{base_path}}/register" class="btn btn-lg btn-default">Rekisteröidy mukaan</a>
    </p>
    {% endif %}
</div>


{% endblock %}